<br>
<div>
    城市：<input id="search_city" type="text" style="width:150px">
    场地类型：<input id="search_area_type_id" type="text" class="easyui-textbox" style="width:150px">
    状态：<select id="search_status" class="easyui-combobox" style="width:150px;">
    <option value="">-- 全部 --</option>
    <option value="0" selected>在线</option>
    <option value="-1">下线</option>
</select>
    场地编号：<input id="search_area_id" type="text" class="easyui-textbox" style="width:150px">
    <button id="search" type="button">搜索</button>
</div>
<br>
<div id="datagrid"></div>

<div id="dialog_edit">
    <div class="box">
        <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'Name:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="email" style="width:100%"
                       data-options="label:'Email:',required:true,validType:'email'">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="subject" style="width:100%"
                       data-options="label:'Subject:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="message" style="width:100%;height:60px"
                       data-options="label:'Message:',multiline:true">
            </div>
            <div style="margin-bottom:20px">
                <select class="easyui-combobox" name="language" label="Language" style="width:100%">
                    <option value="ar">Arabic</option>
                    <option value="bg">Bulgarian</option>
                    <option value="ca">Catalan</option>
                    <option value="zh-cht">Chinese Traditional</option>
                    <option value="cs">Czech</option>
                </select>
            </div>
        </form>
    </div>
</div>

<script>

    var columns = [[
        {field: 'area_id', title: '场地编号', width: 80},
        {field: 'city', title: '城市', width: 80},
        {field: 'title', title: '标题', width: 150},
        {field: 'address', title: '地址', width: 330},
        {field: 'area_type_id', title: '场地类型', width: 100},
        {
            field: 'status', title: '状态', width: 50,
            formatter: function (value, row, index) {
                return value == -1 ? `<span style="color: red;">下线</span>` : `<span style="color: green;">在线</span>`;
            }
        },
        {field: 'minute_start', title: '最低时长（分钟）', width: 100},
        {
            field: '操作', title: '操作', width: 200,
            formatter: function (value, row, index) {
                return `<a id="btn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'">场地管理</a>`;
            }
        },
    ]];

    var html_edit = $('#dialog_add .box').html();

    $.ajax({
        url: '/api/cityList',
        success: function (resp) {
            if (resp.code == 0) {
                window.cityList = resp.data.cityList;
                $('#search_city').combobox({
                    data: cityList,
                    valueField: 'city',
                    textField: 'city'
                });
            } else {
                $.messager.alert('请求错误', resp.msg, 'error');
            }
        }
    });


    function search() {
        $('#datagrid').datagrid({
            url: '/api/area/search', method: 'get',
            queryParams: {
                city: $('#search_city').val(),
                area_id: $('#search_area_id').val(),
                area_type_id: $('#search_area_type_id').val(),
                status: $('#search_status').val(),
            },
            rownumbers: true,
            singleSelect: true,
            columns: columns,
            height: 500,
            toolbar: [{
                iconCls: 'icon-add',
                text: '创建用户',
                handler: function () {
                    $('#dialog_edit').dialog({
                        title: '新建场地',
                        width: 800,
                        height: 500,
                        closed: false,
                        cache: false,
                        modal: true,
                        buttons: [{
                            text: '保存',
                            handler: function () {
                                $.ajax({
                                    url: '/api/partner/add', method: 'post',
                                    data: {
                                        phone: $('#dialog_add [name=phone]').val(),
                                        email: $('#dialog_add [name=email]').val(),
                                        passwd: $('#dialog_add [name=password]').val(),
                                        remark: $('#dialog_add [name=remark]').val(),
                                        city: $('#dialog_add [name=city]').val(),
                                        address: $('#dialog_add [name=address]').val(),
                                    },
                                    success: function (resp) {
                                        if (resp.code == 0) {
                                            $.messager.alert('请求结果', resp.msg, 'success');
                                            $('#dialog_add').dialog('close');
                                            $('#dialog_add').dialog('reload');
                                        } else {
                                            $.messager.alert('请求结果', resp.msg, 'error');
                                        }
                                    }
                                });
                            }
                        }, {
                            text: '取消',
                            handler: function () {
                                $('#dialog_add').dialog('close');
                            }
                        }]
                    });
                    $('#dialog_add .box').html(html_add);
                    $('#dialog_add [name=phone]').validatebox({
                        required: true,
                        validType: 'phone'
                    });
                    $('#dialog_add [name=password]').validatebox({
                        required: true,
                    });
                    $('#dialog_add [name=email]').validatebox({
                        validType: 'email'
                    });
                    $('#dialog_add [name=city]').combobox({
                        data: cityList,
                        valueField: 'city',
                        textField: 'city'
                    });
                }
            }],
            loadFilter: function (resp) {
                return {rows: resp.data.list}
            },
            onLoadError: function (error) {
                $.messager.alert('请求错误', error.responseText, 'error');
            }
        });
    }


    $(document).ready(function () {
        $('#dialog_add').hide();

        $('#search').linkbutton({
            iconCls: 'icon-search',
            onClick: search
        });


        search();
    });
</script>