<style>
    .menu-item {
        text-align: center;
        padding: 5px 0;
    }
    .menu-item:hover {
        background-color: #abcdef;
    }
</style>


<div id="cc" class="easyui-layout">
    <div data-options="region:'north',split:true" style="height:50px;"></div>
    <div data-options="region:'west',title:'菜单',split:true" style="width:200px;">



        <div class="menu-item" tab-url="http://tj.xiangshuispace.com/index.html" tab-closable="true">监控</div>
        <div class="menu-item" tab-url="http://tj.xiangshuispace.com/tj/home" tab-closable="true">表格</div>
        <div class="menu-item" tab-url="/partner_manage" tab-closable="true">场地合作方帐号管理</div>
        <div class="menu-item" tab-url="/area_manage" tab-closable="true">场地管理</div>

    </div>
    <div data-options="region:'center'" style="">
        <div id="tt" class="easyui-tabs" style="width:100%;height:100%;">

        </div>
    </div>
</div>

<script>
    $("#cc").width($(window).width());
    $("#cc").height($(window).height());
    $(document).ready(function () {
        function checkTab(title, url, closable) {
            if ($('#tt').tabs('getTab', title)) {
                $('#tt').tabs('select', title);
            } else {
                $('#tt').tabs('add', {
                    title: title,
                    closable: closable,
                    content: `<iframe  src="${url}" style="display: block;width:100%;height:100%;margin:0;padding:0;"></iframe>`
                });
            }
        }

        $('.menu-item').click(function () {
            var title = $(this).attr('tab-title') || $(this).text();
            var url = $(this).attr('tab-url');
            var closable = $(this).attr('tab-closable');
            checkTab(title, url, closable);
        });
    });

</script>