<div>

    uin：<input id="uin" type="text"  class="easyui-textbox" style="width:150px">
    手机号：<input id="phone" type="text" class="easyui-textbox"  style="width:150px">

    <button id="search" type="button">搜索</button>


</div>

<div id="datagrid"></div>

<script>
    $(document).ready(function () {
        $('#search').linkbutton({
            iconCls: 'icon-search'
        });




        var columns = [[
            {field: 'code', title: '城市编号', width: 100},
            {field: 'city', title: '城市名称', width: 100},
            {field: 'province', title: '省份', width: 100},
            {field: 'lng', title: '经度（lng）', width: 100},
            {field: 'lat', title: '纬度（lng）', width: 100},
        ]];

        $('#datagrid').datagrid({
            url: '/api/user/search', method: 'get',
            singleSelect: true,pagination:true,
            columns: columns,
            loadFilter: function (resp) {
                return {rows: resp.data.cityList, total: resp.data.cityList.length}
            }
        });
    });
</script>