<!doctype html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-itunes-app" content="app-id=1267711750">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="享+,享十,享加,X+,享睡,享睡空间,北京享睡科技有限公司,xiangshuispace,享睡space,享睡椅,躺椅,共享头等舱,共享躺椅,共享ktv,摩摩哒,共享睡眠舱,共享休息舱,健康加油站，休闲,办公,娱乐,钟点房,无人酒店,自助,智能,太空舱"/>
    <meta name="description" content="享+在全国二十个城市运营自助休息空间，全球首创享+共享头等舱，用户午休和加班神器，提供碎片化休息、办公解决方案，打造用户健康加油站。"/>
    <meta http-equiv="windows-Target" contect="_top"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="applicable-device" content="pc,mobile"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="baidu-site-verification" content="9Skpwtr0Fx"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>享+共享头等舱 舒适独立的自助休息空间</title>
    <link rel="icon" href="//s3.cn-north-1.amazonaws.com.cn/areaimgs/C791DEBF92ED2FD542B49F1288823A75" type="image/x-icon"/>
    <link rel="stylesheet" href="/build/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/build/css/base.css">
    #if($debug)
    <script>window.debug = true;</script>
    #else
    <script>window.debug = false;</script>
    #end
    <script src="/build/js.cookie.js"></script>
    <script src="/build/jquery.min.js"></script>
    <script src="/build/bootstrap/js/bootstrap.min.js"></script>
    <script src="/build/base.js"></script>
</head>
<body>
$screen_content
</body>
</html>