<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>$!title</title>
    <meta name="description" content="$!description"/>
    <meta name="keywords" content="$!keywords"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/build/css/base.css?ts=${ts}">
    <script src="/vendor/qrcode.min.js"></script>
    <script src="/vendor/SimpleAjaxUploader.min.js"></script>
    <script src="/build/js/vendor.js"></script>
    <script src="/build/js/base.js?ts=${ts}"></script>
    <script src="/build/components/base.js?ts=${ts}"></script>
    <script src="/build/components/components.js?ts=${ts}"></script>
    <style>
        table > tbody > tr > th {
            text-align: right;
        }
    </style>
    <script>
        var AreaStatusOption = $AreaStatusOption;
        var CapsuleStatusOption = $CapsuleStatusOption;
        var DeviceVersionOption = $DeviceVersionOption;
        var TimeLimitOption = $TimeLimitOption;
        var maxResultSize = $maxResultSize;
    </script>
</head>
<body>
$screen_content
</body>
</html>