<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-itunes-app" content="app-id=1267711750">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="享+,享十,享加,享睡,享睡空间,北京享睡科技有限公司,xiangshuispace,享睡space,享睡椅,躺椅,共享头等舱,共享躺椅,共享ktv,摩摩哒,共享睡眠舱,共享休息舱,休闲,办公,娱乐,钟点房,无人酒店,自助,智能,太空舱"/>
    <meta name="description" content="享+科技立足健康产业,推出享+共享头等舱,提供碎片化的办公、休息、娱乐解决方案,打造用户健康加油站。"/>
    <meta http-equiv="windows-Target" contect="_top">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>关于我们</title>
    <link rel="icon" href="image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/reset.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="pc">
    <div class="headArea">
        <div class="head">
            <div class="headContain">
                <div class="show_logo">
                    <a href="index.html">
                        <img src="/static/image/logochange.png" alt="logo" class="logo"/>
                    </a>
                </div>
                <ul class="head_nav">
                    <a href="index.html" class="head_nav_a">
                        <li>首页<span></span></li>
                    </a>
                    <a href="index.html?nav=2" class="head_nav_a">
                        <li>使用说明<span></span></li>
                    </a>
                    <a href="index.html?nav=3" class="head_nav_a">
                        <li>立刻体验<span></span></li>
                    </a>
                    <a href="index.html?nav=4" class="head_nav_a">
                        <li>下载APP<span></span></li>
                    </a>
                    <a href="/about.html" class="head_nav_a">
                        <li>关于我们<span class="spantext"></span></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <!--banner-->
    <div class="about_banner">
        <div class="about_banner_img"></div>
        <div class="about_banner_title">
            关于我们
        </div>
    </div>
    <!--  使用说明 -->
    <div class="play_instruction" style="display: none">
        <div class="playContain_wrap">
            <div class="playContain">
                <div class="play_up">
                    <div class="play_mid">
                        <div class="slideContain">
                            <ul class="slideList">
                                <li><img src="/static/image/phone/phone_login.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_scan.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_using.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_ending.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_login.jpg" width="260" height="456"/></li>
                            </ul>
                        </div>
                    </div>
                    <div class="play_bot">
                        <div class="item">
                            <em class="dottedline"></em>

                            <div class="iconarea icon01 icon001"></div>
                            <div class="icontext">
                                <h3>注册／登录</h3>

                                <p>打开享+APP／小程序，首次<br/>使用需注册认证，自动手机定位，<br/>可查看离你最近的共享头等舱位置</p>
                            </div>
                        </div>
                        <div class="item">
                            <em class="dottedline"></em>

                            <div class="iconarea icon02"></div>
                            <div class="icontext">
                                <h3>扫码使用</h3>

                                <p>扫描头等舱外的二维码，确<br/>认后自动开启使用</p>
                            </div>
                        </div>
                        <div class="item">
                            <em class="dottedline"></em>

                            <div class="iconarea icon03"></div>
                            <div class="icontext">
                                <h3>开始体验</h3>

                                <p>自由调整头等舱座椅角度，<br/>休息，办公，任意切换</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="iconarea icon04"></div>
                            <div class="icontext">
                                <h3>结束体验</h3>

                                <p>体验完毕后，APP／小程序<br/>自动结束订单</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_content">
        <div class="about_content_wrap">
            <div class="about_content_nav">
                <div class="about_xiangshui_nav active">关于享+</div>
                <div class="contact_us_nav">联系我们</div>
            </div>
            <div class="about_contact_wrap">
                <div class="about_xiangshui about_nav_active">
                    <div class="about_xiangshui_text">
                        <h2>关于享+</h2>

                        <p>享＋立足健康产业，促进科技与万众创新深度结合，提供碎片化健康、休息、办公解决方案，为用户的健康加油。享＋全球首创共享智能健康服务舱——“共享头等舱沙发”，扫码开舱，科技时尚，自助共享，便捷舒适，超值体验，办公、休息任意切换。2017年5月，享＋1.0产品首先在北京，上海写字楼和联合办公空间等数十个场地投放，引起了全球轰动，获得人民日报，中央电视台，NBC，路透社等数百家媒体报道，成为共享经济浪潮的又一创举。</p>
                        <p>站在共享经济的最前沿，享＋组建了一个充满活力的团队，享＋创始团队来自斯坦福大学，清华大学等知名学府，联合创始人分别是美国纽交所上市公司执行董事，CEO和总裁，财富100强企业市场及运营高管。通过有效的资源整合，享＋提供世界级的健康智能产品和服务，为用户提供贴心的健康福利，为社会创造价值。</p>
                        <p>目前，享＋已先后获得天善资本和丹华资本的投资。</p>
                    </div>
                    <!--<div class="about_xiangshui_news">
                        <h2>新闻报道</h2>

                        <div class="swiper-container-news-wrap">
                            <div class="swiper-container swiper-container-news">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="http://news.163.com/17/0713/05/CP704KEH00018AOP.html"
                                           title="北京：扫一扫入住“享睡空间”">
                                            <div class="swiper-slide-wrap">
                                                <img src="/static/image/about/news1.jpg" alt="新闻"/>
                                                <span class="news_title">北京：扫一扫入住“享睡空间”</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://news.163.com/17/0704/23/COHORCRN00018AOP.html#from=relevant"
                                           title="王胜江携手前搜房网CEO代建功，引入共享太空舱">
                                            <div class="swiper-slide-wrap">
                                                <img src="/static/image/about/news2.jpg" alt="新闻"/>
                                                <span class="news_title">王胜江携手前搜房网CEO代建功，引入共享太空舱</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://yuqing.china.com.cn/show/190698.html"
                                           title="北京现“享睡空间”——睡眠也能共享了？">
                                            <div class="swiper-slide-wrap">
                                                <img src="/static/image/about/news3.jpg" alt="新闻"/>
                                                <span class="news_title">北京现“享睡空间”——睡眠也能共享了？</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://www.enet.com.cn/article/2017/0714/A20170714034361.html"
                                           title="享睡空间设共享睡眠舱，解决白领午休时间">
                                            <div class="swiper-slide-wrap">
                                                <img src="/static/image/about/news1.jpg" alt="新闻"/>
                                                <span class="news_title">享睡空间设共享睡眠舱，解决白领午休时间</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://bjcb.morningpost.com.cn/html/2017-06/26/content_449078.htm"
                                           title="共享五花八门">
                                            <div class="swiper-slide-wrap">
                                                <img src="/static/image/about/news1.jpg" alt="新闻"/>
                                                <span class="news_title">共享五花八门</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-news-prev">
                                    <img src="/static/image/about/left_arrow.png" alt="左移"/>
                                </div>
                                <div class="swiper-news-next">
                                    <img src="/static/image/about/right_arrow.png" alt="右移"/>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="contact_us">
                    <div class="contact_us_text">
                        <h2>联系我们</h2>

                        <p>合作邮箱：hz@xjpod.com</p>

                        <p>联系电话：400-688-9960</p>

                        <p>地址：北京市东城区朝阳门银河SOHO中心A座10601室</p>
                    </div>
                    <div class="contact_us_code">
                        <div class="contact_us_code_fl">
                            <img src="/static/image/about/public_signal.png" alt="微信公众号"/>
                            <span>微信公众号</span>
                        </div>
                        <div class="contact_us_code_fr">
                            <img src="/static/image/about/weibo.png" alt="微博"/>
                            <span>微博</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 友情链接 -->
    <div class="friendLink">
        <div class="flinkContain flinkContain_about">
            <div class="flink_logo">
                <img src="/static/image/endChangeLogo.png" alt="共享头等舱" width="200" height="80"/>

                <div class="bluemashow"></div>
                <div class="miniAppShow"></div>
            </div>
            <div class="dlwx">
                <em class="dlwx_dlow left dlwx_dlow1"></em>
                <em class="dlwx_dlow right dlwx_dlow2"></em>
            </div>

            <!-- 底部友情链接 -->
            <div class="link_text">
                <div class="link_list">
                    <ul>
                        <li><a href="about.html?slide=1">关于我们</a></li>
                        <!--<li><a href="about.html?slide=1">关于享+</a></li>
                        <li><a href="about.html?slide=2">新闻报道</a></li>-->
                    </ul>
                    <ul>
                        <li><a href="about.html?slide=3">联系我们</a></li>
                        <!--<li><a href="about.html?slide=3">合作</a></li>
                        <li><a href="about.html?slide=3">联系我们</a></li>-->
                    </ul>
                </div>
                <div class="compony">
                    © 2017北京享睡科技有限公司丨
                    <a href="javascript:void(0)" class="jincopy" style="cursor: text">京ICP备 17038246号</a>
                    丨
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002938" target="_blank" class="jincopy"><img src="/static/image/police.png" class="national_emblem">京公网安备 11010102002938号</a>
                 </div>
            </div>
        </div>

    </div>
</div>

<!-- 手机 -->
<div class="thephone" id="wrapper">
    <div class="phoneHeader">
        <div class="headContain_wrap">
            <div class="headContain display_flex justify-content_flex-between align-items_center">
                <div class="phone_logo">
                    <a href="index.html">
                        <img src="/static/image/phone/phone_logo.png" alt="享+" class="phoneLogo"/>
                    </a>
                </div>
                <div class="headMenu">
                    <img src="/static/image/phone/menulogo.png" alt="menu" class="phoneMenu"/>
                </div>
            </div>
        </div>
        <ul class="menuList about_menuList">
            <li>首页</li>
            <li>使用说明</li>
            <li>立即体验</li>
            <li>下载APP</li>
            <li>关于我们</li>
        </ul>
    </div>
    <!-- 首页-->
    <div class="phone_about_banner">
        <img src="/static/image/phone/about_banner.jpg" alt="banner" width="100%" height="auto"/>

        <div class="phone_about_banner_title">
            关于我们
        </div>
    </div>

    <div class="phone_about_content">
        <div class="phone_about_content_wrap">
            <div class="phone_about_content_nav display_flex">
                <div class="phone_about_xiangshui_nav flex_1 active">关于享+</div>
                <div class="phone_contact_us_nav flex_1">联系我们</div>
            </div>
            <div class="phone_about_contact_wrap">
                <div class="phone_about_xiangshui phone_about_nav_active">
                    <div class="phone_about_xiangshui_text">
                        <h2>关于享+</h2>

                        <p>享＋立足健康产业，促进科技与万众创新深度结合，提供碎片化健康、休息、办公解决方案，为用户的健康加油。享＋全球首创共享智能健康服务舱——“共享头等舱沙发”，扫码开舱，科技时尚，自助共享，便捷舒适，超值体验，办公、休息任意切换。2017年5月，享＋1.0产品首先在北京，上海写字楼和联合办公空间等数十个场地投放，引起了全球轰动，获得人民日报，中央电视台，NBC，路透社等数百家媒体报道，成为共享经济浪潮的又一创举。</p>
                        <p>站在共享经济的最前沿，享＋组建了一个充满活力的团队，享＋创始团队来自斯坦福大学，清华大学等知名学府，联合创始人分别是美国纽交所上市公司执行董事，CEO和总裁，财富100强企业市场及运营高管。通过有效的资源整合，享＋提供世界级的健康智能产品和服务，为用户提供贴心的健康福利，为社会创造价值。</p>
                        <p>目前，享＋已先后获得天善资本和丹华资本的投资。</p>
                    </div>

                    <!--<div class="phone_about_xiangshui_text_news">
                        <h2>新闻报道</h2>

                        <div class="swiper-container-phone-news-wrap">
                            <div class="swiper-container swiper-container-phone-news">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="http://news.163.com/17/0713/05/CP704KEH00018AOP.html">
                                            <img src="/static/image/about/news1.jpg" alt="享睡新闻"/>

                                            <p class="phone_news_title">北京：扫一扫入住“享睡空间”</p>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://news.163.com/17/0704/23/COHORCRN00018AOP.html#from=relevant">
                                            <img src="/static/image/about/news2.jpg" alt="享睡新闻"/>

                                            <p class="phone_news_title">王胜江携手前搜房网CEO代建功，引入共享太空舱</p>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://yuqing.china.com.cn/show/190698.html">
                                            <img src="/static/image/about/news3.jpg" alt="享睡新闻"/>

                                            <p class="phone_news_title">北京现“享睡空间”——睡眠也能共享了？</p>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://www.enet.com.cn/article/2017/0714/A20170714034361.html">
                                            <img src="/static/image/about/news1.jpg" alt="享睡新闻"/>

                                            <p class="phone_news_title">享睡空间设共享睡眠舱，解决白领午休时间</p>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://bjcb.morningpost.com.cn/html/2017-06/26/content_449078.htm">
                                            <img src="/static/image/about/news1.jpg" alt="享睡新闻"/>

                                            <p class="phone_news_title">共享五花八门</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-phone-news-prev">
                                    <img src="/static/image/phone/phone_news_leftArrow.png" alt="左移"/>
                                </div>
                                <div class="swiper-phone-news-next">
                                    <img src="/static/image/phone/phone_news_rightArrow.png" alt="右移"/>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="phone_contact_us">
                    <div class="phone_contact_us_text">
                        <h2>联系我们</h2>

                        <p>合作邮箱：hz@xjpod.com</p>

                        <p>联系电话：400-688-9960</p>

                        <p>地址：北京市东城区朝阳门银河SOHO中心A座10601室</p>
                    </div>
                    <div class="phone_contact_us_code display_flex align-items_center justify-content_flex-between">
                        <div class="display_flex flex-direction_column align-items_center justify-content_flex-between">
                            <img src="/static/image/phone/phone_public_signal.png" alt="微信公众号"/>
                            <span>微信公众号</span>
                        </div>
                        <div class="display_flex flex-direction_column align-items_center justify-content_flex-between">
                            <img src="/static/image/phone/phone_weibo.png" alt="微博"/>
                            <span>微博</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="phone_footer">
        <div class="pf_contain display_flex flex-direction_column align-items_center">
            <img src="/static/image/phone/phone_logo_white.png" alt="享+logo" class="pf_logo"/>

            <div class="phone_link display_flex align-items_center justify-content_flex-between">
                <div class="phone_link_wx">
                    <img src="/static/image/linkwx2.png" alt="公众号" class="phone_linkwx2"/>
                </div>
                <div class="phone_link_miniApp">
                    <img src="/static/image/linkmini2.png" alt="小程序" class="phone_linkmini2"/>
                </div>
            </div>
            <div class="phone_link_wx_code">
                <img src="/static/image/phone/public_signal.png" alt="公众号二维码"/>
            </div>
            <div class="phone_link_miniApp_code">
                <img src="/static/image/phone/miniApps.png" alt="小程序二维码"/>
            </div>
            <div class="phone_about display_flex align-items_center justify-content_flex-between">
                <ul>
                    <li><a href="about.html">关于我们</a></li>
                    <!--<li><a href="about.html">关于享+</a></li>
                    <li><a href="about.html?slide=4">新闻报道</a></li>-->
                </ul>
                <ul>
                    <li><a href="about.html?slide=5">联系我们</a></li>
                    <!--<li><a href="about.html?slide=5">合作</a></li>
                    <li><a href="about.html?slide=5">联系我们</a></li>-->
                </ul>
            </div>
        </div>
        <p>© 2017北京享睡科技有限公司丨京ICP备 17038246号</p>
        <p class="phone_national_emblem_p"><img src="/static/image/police.png" class="phone_national_emblem">&nbsp;京公安网安备 11010102002938号</p>
    </div>
</div>

<script src="/static/js/rem.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/swiper.animate1.0.2.min.js"></script>
<script src="/static/js/playBlue.js"></script>
<script src="/static/js/downLoad.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>