<style>
    #iframe {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        border: none;
        outline: none;
    }
</style>
<iframe id="iframe" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></iframe>
<script>
    var src = getParameter('src');
    document.getElementById('iframe').src = src;
</script>