#parse('fragment/nav_news_list.html')


<div class="section section-news-list container my-5 py-5">


    #foreach($article in $articleList)

    <div class="row my-5 py-3 #if($velocityCount != 1) border-top #end">
        <div class="col-3">
            #if($velocityCount == 1 || $DateUtils.format($article.release_time,'yyyy.MM') != $DateUtils.format($lastArticle.release_time,'yyyy.MM'))
            $DateUtils.format($article.release_time,'yyyy.MM')
            #end
        </div>
        <div class="col-9">

            <a href="/news/$article.id"><h2>$article.title</h2></a>
            <div>$DateUtils.format($article.release_time,'yyyy年MM月dd日')</div>
            <div>$article.summary</div>

        </div>
    </div>
    #set($lastArticle = $article)
    #end


    <div class="text-center">

        #set($pageSum = $total / $pageSize)
        #if($total % $pageSize > 0)
        #set($pageSum = $pageSum + 1)
        #end


        #if($pageNum != 1)
        <a class="text-dark" href="#">上一页</a>
        #end

        #set($temp = $pageNum - 3)
        #if($temp >= 1)
        <a class="text-dark" href="#">$temp</a>
        #end

        #set($temp = $pageNum - 2)
        #if($temp >= 1)
        <a class="text-dark" href="#">$temp</a>
        #end

        #set($temp = $pageNum - 1)
        #if($temp >= 1)
        <a class="text-dark" href="#">$temp</a>
        #end

        <span class="text-secondary">$pageNum</span>


        #if($pageNum + 1 <= $total / $pageSize)
        #set($temp = $pageNum + 1)
        <a class="text-dark" href="#">$temp</a>
        #end


        <span>共$pageSum页</span>
    </div>

</div>

#parse('fragment/footer.html')