#parse('fragment/nav_news_list.html')


<div class="section section-news-list container my-1 py-1 my-md-5 py-md-5">


    #foreach($article in $articleList)

    <div class="row my-1 my-md-5 py-3">
        <div class="col-3 month">
            #if($velocityCount == 1 || $DateUtils.format($article.release_time,'yyyy.MM') != $DateUtils.format($lastArticle.release_time,'yyyy.MM'))
            $DateUtils.format($article.release_time,'yyyy.MM')
            #end
        </div>
        <div class="col-9 #if($velocityCount != 1) border-top #end">
            <a class="text-dark" href="/news/$article.id"><div class="title">$article.title</div></a>
            <div class="text-secondary my-3 release-time">$DateUtils.format($article.release_time,'yyyy年MM月dd日')</div>
            <div class="summary">$article.summary</div>
        </div>
    </div>
    #set($lastArticle = $article)
    #end


    <div class="text-center">

        #set($pageSum = $total / $pageSize)
        #if($total % $pageSize > 0)
        #set($pageSum = $pageSum + 1)
        #end


        #if($pageNum != 1)
        #set($temp = $pageNum - 1)
        <a class="text-dark" href="/news/list/$temp">上一页</a>
        #end

        #set($temp = $pageNum - 3)
        #if($temp >= 1)
        <a class="text-dark" href="/news/list/$temp">$temp</a>
        #end

        #set($temp = $pageNum - 2)
        #if($temp >= 1)
        <a class="text-dark" href="/news/list/$temp">$temp</a>
        #end

        #set($temp = $pageNum - 1)
        #if($temp >= 1)
        <a class="text-dark" href="/news/list/$temp">$temp</a>
        #end

        <span class="text-secondary">$pageNum</span>

        #set($temp = $pageNum + 1)
        #if($temp <= $pageSum)
        <a class="text-dark" href="/news/list/$temp">$temp</a>
        #end

        #set($temp = $pageNum + 2)
        #if($temp <= $pageSum)
        <a class="text-dark" href="/news/list/$temp">$temp</a>
        #end

        #set($temp = $pageNum + 3)
        #if($temp <= $pageSum)
        <a class="text-dark" href="/news/list/$temp">$temp</a>
        #end


        #if($pageNum < $pageSum)
        #set($temp = $pageNum + 1)
        <a class="text-dark" href="/news/list/$temp">下一页</a>
        #end

        <span>共$pageSum页</span>
    </div>

</div>

#parse('fragment/footer.html')