<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-itunes-app" content="app-id=1267711750">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="享+,享十,享加,X+,享睡,享睡空间,北京享睡科技有限公司,xiangshuispace,享睡space,享睡椅,躺椅,共享头等舱,共享躺椅,共享ktv,摩摩哒,共享睡眠舱,共享休息舱,健康加油站，休闲,办公,娱乐,钟点房,无人酒店,自助,智能,太空舱"/>
    <meta name="description" content="享+科技立足健康产业,推出享+共享头等舱,提供碎片化的休息、办公解决方案,打造用户健康加油站。"/>
    <meta http-equiv="windows-Target" contect="_top"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="applicable-device" content="pc,mobile"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="baidu-site-verification" content="9Skpwtr0Fx"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>$!article.title</title>
    <link rel="icon" href="image/logo.png" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/css/reset.min.css"/>
    <link rel="stylesheet" href="/static/css/main.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/video-js.css"/>

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/html5media/1.1.8/html5media.js"></script>
    <script src="//cdn.bootcss.com/video.js/6.2.8/ie8/videojs-ie8.js"></script>
    <![endif]-->
</head>

<body>
<!-- PC -->
<div class="pc">
    <!-- 头部导航 -->
    <div class="headArea">
        <div class="head">
            <div class="headContain">
                <div class="show_logo">
                    <a href="index.html">
                        <img src="/static/image/logochange.png" alt="logo" class="logo"/>
                    </a>
                </div>
                <ul class="head_nav">
                    <li>首页<span class="spantext"></span></li>
                    <li>使用说明<span></span></li>
                    <li>立刻体验<span></span></li>
                    <li>下载APP<span></span></li>
                    <li class="to_about">关于我们<span></span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--banner-->
    <div class="banner">
        <div class="banner_img"></div>
        <div class="banner-title">
            <p>共享头等舱——健康、休息、办公</p>

            <!--<div class="show_movie_wrap">
                <div class="show_movie">
                    <img src="/static/image/play.png" alt="播放按钮"/>
                    <span class="show_movie_text">观看视频介绍</span>
                </div>
            </div>-->
        </div>
    </div>
    <!--  使用说明 -->
    <div class="play_instruction">
        <div class="playContain_wrap">
            <div class="playContain">
                <div class="play_up">
                    <div class="play_mid">
                        <div class="slideContain">
                            <ul class="slideList">
                                <li><img src="/static/image/phone/phone_login.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_scan.jpg" width="260" height='456'/></li>
                                <li><img src="/static/image/phone/phone_using.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_ending.jpg" width="260" height="456"/></li>
                                <li><img src="/static/image/phone/phone_login.jpg" width="260" height="456"/></li>
                            </ul>
                        </div>
                    </div>
                    <div class="play_bot">
                        <div class="item">
                            <em class="dottedline"></em>

                            <div class="iconarea icon01 icon001"></div>
                            <div class="icontext">
                                <h3>注册／登录</h3>

                                <p>打开享+APP／小程序，首次<br/>使用需注册认证，自动手机定位，<br/>可查看离你最近的共享头等舱位置</p>
                            </div>
                        </div>
                        <div class="item">
                            <em class="dottedline"></em>

                            <div class="iconarea icon02"></div>
                            <div class="icontext">
                                <h3>扫码使用</h3>

                                <p>扫描头等舱外的二维码，确<br/>认后自动开启使用</p>
                            </div>
                        </div>
                        <div class="item">
                            <em class="dottedline"></em>

                            <div class="iconarea icon03"></div>
                            <div class="icontext">
                                <h3>开始体验</h3>

                                <p>自由调整头等舱座椅角度，<br/>休息，办公，任意切换</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="iconarea icon04"></div>
                            <div class="icontext">
                                <h3>结束体验</h3>

                                <p>体验完毕后，APP／小程序<br/>结束订单</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 立刻体验 -->
    <div class="havefun">
        <div class="havefunContain">
            <div class="play_up"></div>
            <p class="havefun_title">共享头等舱 健康加油站</p>

            <div class="swiper-container swiper-container-pc swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="swiper-slide-wrap">
                                <img src="/static/image/experience1.png" alt="操作便捷" width="180" height="180"/>

                                <h2>操作便捷</h2>

                                <p>扫码开舱，移动支付，一键结束订单。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="swiper-slide-wrap">
                                <img src="/static/image/experience2.png" alt="自助共享" width="180" height="180"/>

                                <h2>自助共享</h2>

                                <p>自助使用，智能切换，满足您碎片化休息、办公等需求。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="swiper-slide-wrap">
                                <img src="/static/image/experience3.png" alt="健康舒适" width="180" height="180"/>

                                <h2>健康舒适</h2>

                                <p>专属休闲空间，可随意调节沙发角度，开启您的舒适之旅。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">

                            <div class="swiper-slide-wrap">
                                <img src="/static/image/experience4.png" alt="安全卫生" width="180" height="180"/>

                                <h2>安全卫生</h2>

                                <p>高阻燃材料，高强度结构；每日维护，干净卫生。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">

                            <div class="swiper-slide-wrap display_flex flex-direction_column align-items_center justify-content_flex-center">
                                <img src="/static/image/experience5.png" alt="时尚外观" width="180" height="180">

                                <h2>时尚外观</h2>

                                <p>全新时尚外观，高颜值高性价比的绝佳休息、办公体验。</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pc-prev">
                    <img src="/static/image/leftArrow.png" alt="左移"/>
                </div>
                <div class="swiper-pc-next">
                    <img src="/static/image/rightArrow.png" alt="右移"/>
                </div>
            </div>
        </div>
    </div>
    <!-- 下载 -->
    <div class="download">
        <div class="download_contain">
            <div class="dl_left ">
                <div class="double_phone"></div>
            </div>
            <div class="dl_right">
                <!-- 二维码区域 -->
                <div class="dll_img"><img src="/static/image/downma.png" alt=""/></div>
                <div><p><span class="dl_icon dl_icon1 left"></span><span class="dl_icon dl_icon2 right"></span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 友情链接 -->
    <div class="friendLink">
        <div class="flinkContain">
            <div class="flink_logo">
                <img src="/static/image/endChangeLogo.png" alt="共享头等舱" width="200" height="80"/>
                <div class="bluemashow"></div>
                <div class="miniAppShow"></div>
            </div>
            <div class="dlwx">
                <em class="dlwx_dlow left dlwx_dlow1"></em>
                <em class="dlwx_dlow right dlwx_dlow2"></em>
            </div>

            <!-- 底部友情链接 -->
            <div class="link_text">
                <div class="link_list">
                    <ul>
                        <li><a href="about.html?slide=1">关于我们</a></li>
                        <!--<li><a href="about.html?slide=1">关于享+</a></li>
                        <li><a href="about.html?slide=2">新闻报道</a></li>-->
                    </ul>
                    <ul>
                        <li><a href="about.html?slide=3">联系我们</a></li>
                        <!--<li><a href="about.html?slide=3">合作</a></li>
                        <li><a href="about.html?slide=3">联系我们</a></li>-->
                    </ul>
                </div>
                <div class="compony">
                    © 2017北京享睡科技有限公司丨
                    <a href="javascript:void(0)" class="jincopy" style="cursor: text">京ICP备 17038246号</a>
                    丨
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002938" target="_blank" class="jincopy"><img src="/static/image/police.png" class="national_emblem">京公网安备 11010102002938号</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 手机 -->
<div class="thephone" id="wrapper">
    <div class="phoneHeader">
        <div class="headContain_wrap">
            <div class="headContain display_flex justify-content_flex-between align-items_center">
                <div class="phone_logo">
                    <a href="index.html">
                        <img src="/static/image/phone/phone_logo.png" alt="享+" class="phoneLogo"/>
                    </a>
                </div>
                <div class="headMenu">
                    <img src="/static/image/phone/menulogo.png" alt="menu" class="phoneMenu"/>
                </div>
            </div>
        </div>
        <ul class="menuList">
            <li>首页</li>
            <li>使用说明</li>
            <li>立即体验</li>
            <li>下载APP</li>
            <li>关于我们</li>
        </ul>
    </div>
    <!-- 首页-->
    <div class="phone_banner">
        <img src="/static/image/phone/banner.jpg" alt="banner" width="100%" height="auto"/>

        <div class="phone_banner_text_wrap">
            <div class="phone_banner_text display_flex align-items_center flex-direction_column justify-content_flex-center">
                <h2>共享头等舱</h2>
                <span>健康 休息 办公</span>

                <!--<div class="phone_watch_vedio_wrap">
                    <div class="phone_watch_vedio display_flex align-items_center justify-content_flex-between">
                        <img src="/static/image/phone/phone_play_vedio.png" alt="观看视频介绍"/>
                        <span class="phone_show_movie_text">观看视频介绍</span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!--使用说明-->
    <div class="phone_direction">
        <div class="phone_direction_blank"></div>
        <img src="/static/image/phone/phone_phone.png" alt="手机背景" class="phone_phone"/>

        <div class="swiper-container01-wrap">
            <div class="swiper-container swiper-container01">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/image/phone/phone_login.jpg" alt="注册／登录"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/image/phone/phone_scan.jpg" alt="扫码开门"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/image/phone/phone_using.jpg" alt="开始休息"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/image/phone/phone_ending.jpg" alt="结束计费"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination01"></div>
    </div>
    <!-- 立即体验 -->
    <div class="phone_experience">
        <div class="phone_experience_blank"></div>
        <h2 class="phone_experience_title">共享头等舱 健康加油站</h2>

        <div class="swiper-container swiper-container02">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap display_flex flex-direction_column align-items_center">
                        <img src="/static/image/experience1.png" alt="操作便捷"/>

                        <h2>操作便捷</h2>

                        <p>扫码开舱，移动支付，一键结束订单。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap display_flex flex-direction_column align-items_center">
                        <img src="/static/image/experience2.png" alt="自助共享" width="180" height="180"/>

                        <h2>自助共享</h2>

                        <p>自助使用，智能切换，满足您碎片化休息、办公等需求。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap display_flex flex-direction_column align-items_center">
                        <img src="/static/image/experience3.png" alt="健康舒适" width="180" height="180"/>

                        <h2>健康舒适</h2>

                        <p>专属休闲空间，可随意调节沙发角度，开启您的舒适之旅。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap display_flex flex-direction_column align-items_center">
                        <img src="/static/image/experience4.png" alt="安全卫生"/>

                        <h2>安全卫生</h2>

                        <p>高阻燃材料，高强度结构；每日维护，干净卫生。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-wrap display_flex flex-direction_column align-items_center">
                        <img src="/static/image/experience5.png" alt="时尚外观" width="180" height="180"/>

                        <h2>时尚外观</h2>

                        <p>全新时尚外观，高颜值高性价比的绝佳休息、办公体验。</p>
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 下载-->
    <div class="phone_app_store">
        <div class="phone_app_store_wrap">
            <div class="phone_app_store_fl">
                <img src="/static/image/dbphone.png"/>
            </div>
            <div class="phone_app_store_fr">
                <div class="phone_app_store_fr_wrap display_flex flex-direction_column align-items_center justify-content_flex-between">
                    <img src="/static/image/downma.png" alt="享+小程序二维码" class="phone_miniApp_ma"/>
                    <img src="/static/image/phone/phone_app_store.png" alt="享+ios APP" class="phone_app_ios_store"/>
                    <img src="/static/image/phone/phone_android.png" alt="享+android APP" class="phone_android"/>
                </div>
            </div>
        </div>
    </div>
    <!-- 友情链接-->
    <div class="phone_footer">
        <div class="pf_contain display_flex flex-direction_column align-items_center">
            <img src="/static/image/phone/phone_logo_white.png" alt="享+logo" class="pf_logo"/>

            <div class="phone_link display_flex align-items_center justify-content_flex-between">
                <div class="phone_link_wx">
                    <img src="/static/image/linkwx2.png" alt="公众号" class="phone_linkwx2"/>
                </div>
                <div class="phone_link_miniApp">
                    <img src="/static/image/linkmini2.png" alt="小程序" class="phone_linkmini2"/>
                </div>
            </div>
            <div class="phone_link_wx_code">
                <img src="/static/image/phone/public_signal.png" alt="公众号二维码"/>
            </div>
            <div class="phone_link_miniApp_code">
                <img src="/static/image/phone/miniApps.png" alt="小程序二维码"/>
            </div>
            <div class="phone_about display_flex align-items_center justify-content_flex-between">
                <ul>
                    <li><a href="about.html">关于我们</a></li>
                    <!--<li><a href="about.html">关于享+</a></li>
                    <li><a href="about.html?slide=4">新闻报道</a></li>-->
                </ul>
                <ul>
                    <li><a href="about.html?slide=5">联系我们</a></li>
                    <!--<li><a href="about.html?slide=5">合作</a></li>
                    <li><a href="about.html?slide=5">联系我们</a></li>-->
                </ul>
            </div>
        </div>
        <p>© 2017北京享睡科技有限公司丨京ICP备 17038246号</p>
        <p class="phone_national_emblem_p"><img src="/static/image/police.png" class="phone_national_emblem">&nbsp;京公安网安备 11010102002938号</p>
    </div>
</div>

<!-- 视频播放-->
<div class="product_video_wrap">
    <video id="my-player" class="video-js" controls preload="none" poster="" data-setup='{}'>
        <source src="https://s3.cn-north-1.amazonaws.com.cn/capsulevideo/vedio.mp4"
                type="video/mp4"/>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>
    <div class="close_video">
        <img src="/static/image/close_video.png" alt="关闭视频按钮" width="30" height="30"/>
    </div>
</div>

<script src="/static/js/rem.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/swiper.animate1.0.2.min.js"></script>
<script src="/static/js/playBlue.js"></script>
<script src="/static/js/haveFun.js"></script>
<script src="/static/js/downLoad.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/video.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>