#parse('fragment/nav_about.html')

<link rel="stylesheet" href="/build/css/about.css">

<style>

    .flex {
        display: flex !important; }
    .f {
        display: flex !important; }
    .flex-x, .fx {
        flex-direction: row; }
    .flex-x.flex-reverse, .fx.flex-reverse {
        flex-direction: row-reverse; }
    .flex-y, .fy {
        flex-direction: column; }
    .flex-y.flex-reverse, .fy.flex-reverse {
        flex-direction: column-reverse; }
    .flex-1 {
        flex-grow: 1; }
    .flex-x > .flex-1, .fx > .flex-1 {
        width: 0; }
    .flex-y > .flex-1, .fy > .flex-1 {
        height: 0; }
    .flex-2 {
        flex-grow: 2; }
    .flex-x > .flex-2, .fx > .flex-2 {
        width: 0; }
    .flex-y > .flex-2, .fy > .flex-2 {
        height: 0; }
    .flex-3 {
        flex-grow: 3; }
    .flex-x > .flex-3, .fx > .flex-3 {
        width: 0; }
    .flex-y > .flex-3, .fy > .flex-3 {
        height: 0; }
    .flex-4 {
        flex-grow: 4; }
    .flex-x > .flex-4, .fx > .flex-4 {
        width: 0; }
    .flex-y > .flex-4, .fy > .flex-4 {
        height: 0; }
    .flex-5 {
        flex-grow: 5; }
    .flex-x > .flex-5, .fx > .flex-5 {
        width: 0; }
    .flex-y > .flex-5, .fy > .flex-5 {
        height: 0; }
    .flex-6 {
        flex-grow: 6; }
    .flex-x > .flex-6, .fx > .flex-6 {
        width: 0; }
    .flex-y > .flex-6, .fy > .flex-6 {
        height: 0; }
    .flex-7 {
        flex-grow: 7; }
    .flex-x > .flex-7, .fx > .flex-7 {
        width: 0; }
    .flex-y > .flex-7, .fy > .flex-7 {
        height: 0; }
    .flex-8 {
        flex-grow: 8; }
    .flex-x > .flex-8, .fx > .flex-8 {
        width: 0; }
    .flex-y > .flex-8, .fy > .flex-8 {
        height: 0; }
    .flex-9 {
        flex-grow: 9; }
    .flex-x > .flex-9, .fx > .flex-9 {
        width: 0; }
    .flex-y > .flex-9, .fy > .flex-9 {
        height: 0; }
    .flex-10 {
        flex-grow: 10; }
    .flex-x > .flex-10, .fx > .flex-10 {
        width: 0; }
    .flex-y > .flex-10, .fy > .flex-10 {
        height: 0; }
    .flex-11 {
        flex-grow: 11; }
    .flex-x > .flex-11, .fx > .flex-11 {
        width: 0; }
    .flex-y > .flex-11, .fy > .flex-11 {
        height: 0; }
    .flex-12 {
        flex-grow: 12; }
    .flex-x > .flex-12, .fx > .flex-12 {
        width: 0; }
    .flex-y > .flex-12, .fy > .flex-12 {
        height: 0; }
    .flex-nowrap {
        flex-wrap: nowrap !important; }
    .flex-wrap {
        flex-wrap: wrap !important; }
    .flex-wrap-reverse {
        flex-wrap: wrap-reverse !important; }
    .flex-main-flex-start {
        justify-content: flex-start !important; }
    .justify-content-flex-start {
        justify-content: flex-start !important; }
    .flex-main-flex-end {
        justify-content: flex-end !important; }
    .justify-content-flex-end {
        justify-content: flex-end !important; }
    .flex-main-center {
        justify-content: center !important; }
    .justify-content-center {
        justify-content: center !important; }
    .flex-main-space-between {
        justify-content: space-between !important; }
    .justify-content-space-between {
        justify-content: space-between !important; }
    .flex-main-space-around {
        justify-content: space-around !important; }
    .justify-content-space-around {
        justify-content: space-around !important; }
    .flex-cross-flex-start {
        align-items: flex-start !important; }
    .align-items-flex-start {
        align-items: flex-start !important; }
    .flex-cross-flex-end {
        align-items: flex-end !important; }
    .align-items-flex-end {
        align-items: flex-end !important; }
    .flex-cross-center {
        align-items: center !important; }
    .align-items-center {
        align-items: center !important; }
    .flex-cross-baseline {
        align-items: baseline !important; }
    .align-items-baseline {
        align-items: baseline !important; }
    .flex-cross-stretch {
        align-items: stretch !important; }
    .align-items-stretch {
        align-items: stretch !important; }
    .flex-item-cross-auto {
        align-self: auto !important; }
    .align-self-auto {
        align-self: auto !important; }
    .flex-item-cross-flex-start {
        align-self: flex-start !important; }
    .align-self-flex-start {
        align-self: flex-start !important; }
    .flex-item-cross-flex-end {
        align-self: flex-end !important; }
    .align-self-flex-end {
        align-self: flex-end !important; }
    .flex-item-cross-center {
        align-self: center !important; }
    .align-self-center {
        align-self: center !important; }
    .flex-item-cross-baseline {
        align-self: baseline !important; }
    .align-self-baseline {
        align-self: baseline !important; }
    .flex-item-cross-stretch {
        align-self: stretch !important; }
    .align-self-stretch {
        align-self: stretch !important; }
    .fcc {
        align-items: center !important; }
    .fcb {
        align-items: baseline !important; }
    .fcs {
        align-items: stretch !important; }
    .fmc {
        justify-content: center !important; }
    .fmb {
        justify-content: space-between !important; }
    .fma {
        justify-content: space-around !important; }
    .fms {
        justify-content: flex-start !important; }
    .fme {
        justify-content: flex-end !important; }

</style>

<script src="/static/qrcode.min.js"></script>

<div class="section section-about container z-index-1 mb-5 mt-3" style="">

    <div class="relative my-1 " style="color:red;">如果您使用的是360浏览器，建议使用极速模式！</div>

    #foreach($tip in $tips)

    <div class="relative border-bottom p-3 flex flex-x hm" onclick="checkUrl('$tip.url')">
        <img src="${tip.img_url}_750" alt="" class="mr-3 border-radius" style="width:300px;height:200px;"/>
        <div class="relative flex-1">
            <div class="bolder" style="font-size:18px;">$tip.title</div>
            <div class="mt-3">$tip.text</div>
        </div>
    </div>

    #end


    <div id="qrcode_box">
        <div class="fixed top-0 bottom-0 left-0 right-0 f fy fcc fmc" style="background-color: rgba(0,0,0,.5);">
            <div id="qrcode" class="" style=""></div>
            <div class="" style="background-color: salmon;color:white;text-align: center;line-height: 2;">请使用微信扫一扫<br/>扫描二维码支付</div>
        </div>
    </div>

</div>


<script>
    $('#qrcode_box').hide();
    var interval;
    var finish;

    function checkUrl(url) {
        if (finish) {
            window.open(url);
            return;
        }
        clearInterval(interval);
        request({
            url: `/jpi/buy_tips`, method: 'post', loading: true,
            success: resp => {
                $('#qrcode_box').show();
                new QRCode(document.getElementById("qrcode"), resp.data.result.code_url);
                interval = setInterval(function () {
                    request({
                        url: `/jpi/transaction/get`, method: 'post',
                        data: {id: resp.data.transaction.id},
                        success: resp => {
                            if (resp.data.transaction.status === 1) {
                                finish = true;
                                $('#qrcode_box').hide();
                                clearInterval(interval);
                                console.log(url);
                                alert('支付成功');
                            }
                        }
                    });
                }, 1000);
            }
        });
    }

    function checkTab(tab) {
        $('.tab-item-about').removeClass('active');
        $('.tab-item-contact').removeClass('active');
        $('.tab-item-' + tab).addClass('active');

        $('.tab-content-about').hide();
        $('.tab-content-contact').hide();
        $('.tab-content-' + tab).show();

    }

    checkTab('about');

    $('.tab-item-about').on('click', checkTab.bind(null, 'about'));
    $('.tab-item-contact').on('click', checkTab.bind(null, 'contact'));

</script>


#parse('fragment/footer.html')