<configuration scan="false">
    <!--控制台打印-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%level] [%-8class{1}:%L] - %m%n%ex{3}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
    </root>
    <logger name="com.xiangshui" level="info"></logger>

</configuration>