@import "define";
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
@each $key in bold, bolder, lighter {
  .#{$key} {
    font-weight: $key;
  }
}
@each $key in static, relative, absolute, fixed {
  .#{$key} {
    position: $key;
  }
}
@each $key in none, inline, inline-block, block, flex {
  .#{$key} {
    display: #{$key};
  }
}
@each $key in row, row-reverse, column, column-reverse {
  .flex-direction-#{$key} {
    flex-direction: #{$key};
  }
}
@for $i from 0 through 10 {
  .flex-grow-#{$i} {
    flex-grow: $i;
  }
}
@each $key in top, bottom, left, right {
  .#{$key}-0 {
    #{$key}: 0;
  }
  .#{$key}-100 {
    #{$key}: 100%;
  }
}
@for $i from 1 through 9 {
  .z-index-#{$i} {
    z-index: $i;
  }
  .z-index-#{$i}0 {
    z-index: $i*10;
  }
  .z-index-#{$i}00 {
    z-index: $i*100;
  }
}
.tab-content {
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.tab-content > iframe {
  width: 100%;
  height: calc(100% - 50px);
}
#message {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  font-size: 14px;
  line-height: 2;
  padding: 0 15px;
  text-align: center;
  border-radius: 4px;
}
#loading {
  display: block;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: ' ';
    background: url("/static/loading.svg") no-repeat center;
    width: 100%;
    height: 100%;
  }
}
.hm {
  cursor: pointer;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.cx {
  transform: translateX(-50%);
  left: 50%;
}
.cy {
  transform: translateY(-50%);
  top: 50%;
}
.cxy {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.w-auto {
  width: auto;
}
.section {
  position: relative;
}
.section-nav {

  //背景图
  height: 500px;
  background: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/2B8EA5967A5DE2130E4648C81E7628FD") no-repeat center;
  background-size: cover;
  @include md {
    height: 828px;
    background: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/13EA158BF0137FFB65A79226CEBAC9A9") no-repeat center;
    background-size: cover;
  }
  &.section-nav-sub {
    height: 192px;
    background: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/34D1EBDA0070DC32EEDC11A111E0794F") no-repeat center;
    background-size: cover;
    @include md {
      height: 360px;
      background: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/5463FADCBFA338704D7FE3240D9B85BD") no-repeat center;
      background-size: cover;
    }
  }

  &.section-nav-detail {
    background: white !important;
  }

  //navbar-box
  .navbar-box {
    background-color: rgba(0, 0, 0, 0);
    @at-root .black#{&} {
      background-color: white;
    }
  }
  //navbar

  .navbar {
  }
  //navbar-brand
  .navbar-brand {
    width: 120px;
    height: 40px;
    @include md {
      width: 147px;
      height: 50px;
    }
    background: url("https://s3.cn-north-1.amazonaws.com.cn/areaimgs/2307C007E0405C36F5B528DCF77E5AD3") no-repeat center;
    background-size: 100%;
    @at-root .black#{&} {
      background: url("https://s3.cn-north-1.amazonaws.com.cn/areaimgs/2202FACA80CF6F6121D3B3AE7F31D216") no-repeat center;
      background-size: 100%;
    }
  }
  //navbar-toggler-icon
  .navbar-toggler-icon {
    background-image: url("https://s3.cn-north-1.amazonaws.com.cn/areaimgs/E21FC1CCFD4FAD4562AB11D8EF387C95");
    @at-root .black#{&} {
      background-image: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/D40D5D9115F563E516FB4BB19ED7C5ED");
    }
  }

  .navbar-toggler, .navbar-toggler:active {
    border: none;
    outline: none;
  }

  .nav-item {

    @include md {

      &:hover {
        border-bottom: solid 2px #189df9;
        color: #189df9;
      }

      @at-root .black & {

      }

    }

  }

  //nav-link
  .nav-link {
    color: #fff !important;
    font-size: 18px;
    width: 100px;
    text-align: center;

    @at-root .black#{&} {
      color: #000 !important;
    }

  }

  .title {
    h2 {
      font-size: 52px;
    }

  }

}
.invite {
  input[type=tel] {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 40px;
  }
  .btn {
    height: 35px;
    border-radius: 5px;
    &.btn-send {
      height: 40px;
      background-color: #f0f0f0;
      color: #f03838;
      &.disabled {
        color: #747474;
      }
    }
    &.btn-submit {
      background-color: #ffead6;
      color: #f03838;
    }
  }
}
.swiper-button-prev {
  background-image: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/E5AE761E132CA93E8146EC5858B5D7CA") !important;
  @include md {
    background-image: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/A38D666872D57A654BF6809631CFA92D") !important;
  }
  &:active, &:focus {
    border: none !important;
    outline: none !important;
  }
}
.swiper-button-next {
  background-image: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/05A2B3E68522EF789476E3FF5377BF5B") !important;
  @include md {
    background-image: url("//s3.cn-north-1.amazonaws.com.cn/areaimgs/17F236C89282EF78F787F3E18CDC3EE8") !important;
  }
  &:active, &:focus {
    border: none !important;
    outline: none !important;
  }
}
.section-news {

  body {
    margin: 0;}
  #certify {
    position: relative;
    /*width: 1200px;*/
    margin: 0 auto
  }
  #certify .swiper-container {
    /*padding-bottom: 60px;*/
  }
  #certify .swiper-slide {
    width: 520px;
    height: 408px;
    background: #fff;
    box-shadow: 0 8px 30px #ddd;
  }
  #certify .swiper-slide img {
    display: block;
  }
  #certify .swiper-slide p {
    line-height: 98px;
    padding-top: 0;
    text-align: center;
    color: #636363;
    font-size: 1.1em;
    margin: 0;
  }
  #certify .swiper-pagination {
    width: 100%;
    bottom: 20px;
  }
  #certify .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    border: 3px solid #fff;
    background-color: #d5d5d5;
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  #certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
    border: 3px solid #00aadc;
    background-color: #fff;
  }
  #certify .swiper-button-prev {
    left: -30px;
    width: 45px;
    height: 45px;
    background: url(../images/wm_button_icon.png) no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }
  #certify .swiper-button-prev:hover {
    background-position: 0 -46px;
    background-size: 100%
  }
  #certify .swiper-button-next {
    right: -30px;
    width: 45px;
    height: 45px;
    background: url(../images/wm_button_icon.png) no-repeat;
    background-position: 0 -93px;
    background-size: 100%;
  }
  #certify .swiper-button-next:hover {
    background-position: 0 -139px;
    background-size: 100%
  }
}
.section-capsule {
  .swiper-slide {
    text-align: center;
    color: #3c3d41 !important;
    h2, p {
      text-align: center;
      color: #3c3d41 !important;
    }
    h2 {
      margin-top: 1em;
      font-size: 18px !important;
    }
    p {
      margin-top: 1em;
      font-size: 12px !important;
    }
    a {
      text-decoration: none !important;
    }

    .swiper-slide-wrap {
      margin: 5px;

      @include md {
        height: 450px;
        padding: 10%;
      }

    }
    .swiper-slide-wrap:hover {
      box-shadow: 0 0 5px grey;
    }

  }

}
.section-download {
  margin-bottom: -50px;
  @include md {
    margin-bottom: -100px;
  }
}
.section-news-list {

  .title {
    color: #333333;
    font-size: 20px;
    @include line(2);
  }
  .release-time {
    color: #999999;
    font-size: 12px;
  }

  .summary {
    color: #333333;
    font-size: 16px;
    @include line(3);
  }

}
.section-about {

  [class*='tab-item-'] {
    width: 100%;
    float: left;
    background-color: #f9f9f9;
    &.active {
      font-weight: bold;
      background: #ffffff;
    }
  }

  [class*='tab-content'] {
    h2 {
      font-size: 14px;
      @include md {
        font-size: 20px;
      }
    }
    p {
      font-size: 13px;
      @include md {
        font-size: 18px;
      }
    }
  }

}