
<div class="section section-footer pt-5 pb-3 text-center" style="background-color: #189df9;">

    <div class="my-5 d-none d-sm-block"></div>

    <img class="mt-5" style="width:141px;height:58px;" src="//s3.cn-north-1.amazonaws.com.cn/areaimgs/84E77261FA7F7976DEBA7FB48A96EA8C" alt="">

    <div class="my-5">
        <a class="text-white inline-block px-4 py-2 border-right border-white" href="/about">关于我们</a>
        <a class="text-white inline-block px-4 py-2" href="/about">联系我们</a>
    </div>

    <div class="text-white" style="font-size: 12px;">
        <span>© 2020 北京享睡科技有限公司版权所有丨京ICP备 17038246号<div class="d-block d-sm-none"></div><img src="//s3.cn-north-1.amazonaws.com.cn/areaimgs/D0289DC0A46FC5B15B3363FFA78CF6C7" class="phone_national_emblem">&nbsp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002938" target="_blank">京公安网安备 11010102002938号</a></span>
    </div>

</div>