<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshui.server.mapper.OpMapper" >
  <resultMap id="BaseResultMap" type="com.xiangshui.server.domain.mysql.Op" >
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="areas" property="areas" jdbcType="VARCHAR" />
    <result column="operate_extend" property="operateExtend" jdbcType="VARCHAR" />
    <result column="operate_remove" property="operateRemove" jdbcType="VARCHAR" />
    <result column="all_operates" property="allOperates" jdbcType="VARCHAR" />
    <result column="roles" property="roles" jdbcType="VARCHAR" />
    <result column="auths" property="auths" jdbcType="VARCHAR" />
    <result column="citys" property="citys" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields != null" >
      ${fields}
    </if>
    <if test="fields == null" >
      username, password, realname, areas, operate_extend, operate_remove, all_operates, 
      roles, auths, citys
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangshui.server.example.OpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
     limit #{skip,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from op
    where username = #{username,jdbcType=VARCHAR}
     limit 0,1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from op
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangshui.server.example.OpExample" >
    delete from op
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangshui.server.domain.mysql.Op" >
    insert into op (username, password, realname, 
      areas, operate_extend, operate_remove, 
      all_operates, roles, auths, 
      citys)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{areas,jdbcType=VARCHAR}, #{operateExtend,jdbcType=VARCHAR}, #{operateRemove,jdbcType=VARCHAR}, 
      #{allOperates,jdbcType=VARCHAR}, #{roles,jdbcType=VARCHAR}, #{auths,jdbcType=VARCHAR}, 
      #{citys,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshui.server.domain.mysql.Op" >
    insert into op
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="areas != null" >
        areas,
      </if>
      <if test="operateExtend != null" >
        operate_extend,
      </if>
      <if test="operateRemove != null" >
        operate_remove,
      </if>
      <if test="allOperates != null" >
        all_operates,
      </if>
      <if test="roles != null" >
        roles,
      </if>
      <if test="auths != null" >
        auths,
      </if>
      <if test="citys != null" >
        citys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="areas != null" >
        #{areas,jdbcType=VARCHAR},
      </if>
      <if test="operateExtend != null" >
        #{operateExtend,jdbcType=VARCHAR},
      </if>
      <if test="operateRemove != null" >
        #{operateRemove,jdbcType=VARCHAR},
      </if>
      <if test="allOperates != null" >
        #{allOperates,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        #{roles,jdbcType=VARCHAR},
      </if>
      <if test="auths != null" >
        #{auths,jdbcType=VARCHAR},
      </if>
      <if test="citys != null" >
        #{citys,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangshui.server.example.OpExample" resultType="java.lang.Integer" >
    select count(*) from op
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op
    <set >
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.areas != null" >
        areas = #{record.areas,jdbcType=VARCHAR},
      </if>
      <if test="record.operateExtend != null" >
        operate_extend = #{record.operateExtend,jdbcType=VARCHAR},
      </if>
      <if test="record.operateRemove != null" >
        operate_remove = #{record.operateRemove,jdbcType=VARCHAR},
      </if>
      <if test="record.allOperates != null" >
        all_operates = #{record.allOperates,jdbcType=VARCHAR},
      </if>
      <if test="record.roles != null" >
        roles = #{record.roles,jdbcType=VARCHAR},
      </if>
      <if test="record.auths != null" >
        auths = #{record.auths,jdbcType=VARCHAR},
      </if>
      <if test="record.citys != null" >
        citys = #{record.citys,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op
    set username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      areas = #{record.areas,jdbcType=VARCHAR},
      operate_extend = #{record.operateExtend,jdbcType=VARCHAR},
      operate_remove = #{record.operateRemove,jdbcType=VARCHAR},
      all_operates = #{record.allOperates,jdbcType=VARCHAR},
      roles = #{record.roles,jdbcType=VARCHAR},
      auths = #{record.auths,jdbcType=VARCHAR},
      citys = #{record.citys,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshui.server.domain.mysql.Op" >
    update op
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="areas != null" >
        areas = #{areas,jdbcType=VARCHAR},
      </if>
      <if test="operateExtend != null" >
        operate_extend = #{operateExtend,jdbcType=VARCHAR},
      </if>
      <if test="operateRemove != null" >
        operate_remove = #{operateRemove,jdbcType=VARCHAR},
      </if>
      <if test="allOperates != null" >
        all_operates = #{allOperates,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        roles = #{roles,jdbcType=VARCHAR},
      </if>
      <if test="auths != null" >
        auths = #{auths,jdbcType=VARCHAR},
      </if>
      <if test="citys != null" >
        citys = #{citys,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshui.server.domain.mysql.Op" >
    update op
    set password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      areas = #{areas,jdbcType=VARCHAR},
      operate_extend = #{operateExtend,jdbcType=VARCHAR},
      operate_remove = #{operateRemove,jdbcType=VARCHAR},
      all_operates = #{allOperates,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR},
      auths = #{auths,jdbcType=VARCHAR},
      citys = #{citys,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>