<div class="container-fluid">


    <h2>websocket客户端连接数：${sizeSession}</h2>
    <button id="showAllArea" type="button" class="btn btn-primary">查看所有的门店</button>
    <button id="showAllCapsule" type="button" class="btn btn-primary">查看所有的门头等舱</button>

    <div class="row">

        #if($generalMessage)
        <div class="col-md-6">
            <h3>分城市计数</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>城市</th>
                    <th>店铺数量</th>
                    <th>头等舱数量</th>
                    <th>订单数量</th>
                </tr>
                </thead>
                <tbody>
                #foreach($city in $generalMessage.countAreaForCity.keySet())
                <tr>
                    <td>$city</td>
                    <td>$generalMessage.countAreaForCity[$city]</td>
                    <td>$generalMessage.countCapsuleForCity[$city]</td>
                    <td>$generalMessage.countBookingForCity[$city]</td>
                </tr>
                #end
                <tr>
                    <td>Total</td>
                    <td>$generalMessage.countArea</td>
                    <td>$generalMessage.countCapsule</td>
                    <td>$generalMessage.countBooking</td>
                </tr>
                </tbody>
            </table>
        </div>
        #end

        #if($usageRateMessage)
        <div class="col-md-6">
            <h3>24小时内头等舱使用率</h3>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>使用率</th>
                    <th>累计使用率</th>
                </tr>
                </thead>
                <tbody>
                #foreach($item in $usageRateMessage.data)
                <tr>
                    <td>$DateUtils.format($item[0],"MM-dd HH:mm")</td>
                    <td>
                        #set($usage = $item[1]*100 +"%")
                        $usage
                    </td>
                    <td>
                        #set($usage = $item[2]*100 +"%")
                        $usage
                    </td>
                    #end
                </tbody>
            </table>
        </div>
        #end

        #if($orderCapsuleSet)
        <div class="col-md-12 table-responsive">
            <h3>头等舱最后订单时间（倒排）</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>舱编号</th>
                    <th>城市</th>
                    <th>店铺</th>
                    <th>地址</th>
                    <th>创建时间</th>
                    <th>最后下单时间</th>
                </tr>
                </thead>
                <tbody>
                #foreach($capsule in $orderCapsuleSet)
                <tr>
                    <td><a href="javascript:showCapsule($capsule.capsule_id);">$capsule.capsule_id</a></td>
                    <td>$!{capsule.cityObj.city}</td>
                    <td>$!{capsule.areaObj.title}</td>
                    <td>$!{capsule.areaObj.address}</td>
                    <td>
                        #if($capsule.create_time_date)
                        $DateUtils.format($capsule.create_time_date,"yyyy-MM-dd HH:mm:ss")
                        #end
                    </td>
                    <td>
                        #if($capsule.lastBookingTime)
                        $DateUtils.format($capsule.lastBookingTime,"yyyy-MM-dd HH:mm:ss")
                        #else
                        <span class="text-danger">未使用过</span>
                        #end
                    </td>
                </tr>
                #end
                </tbody>
            </table>
        </div>
        #end

    </div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>

<script>

    function showJson(json) {
        $('#myModal .modal-body').html(`<pre><code>${JSON.stringify(json, null, 2)}</code></pre>`);
        $('#myModal').modal({})
    }

    function showCapsule(capsule_id) {
        $.ajax({
            url: `/tj/capsule/${capsule_id}`,
            success: function (resp) {
                showJson(resp);
            }
        });
    }

    $('#showAllArea').click(function () {
        $.ajax({
            url: `/tj/area/map`,
            success: function (resp) {
                showJson(resp);
            }
        });
    });

    $('#showAllCapsule').click(function () {
        $.ajax({
            url: `/tj/capsule/map`,
            success: function (resp) {
                showJson(resp);
            }
        });
    });


</script>
