<div class="container-fluid">


    <h2>websocket客户端连接数：${sizeSession}</h2>

    <table class="table table-bordered">

        <tr>
            #if($generalMessage)

            <td>
                总店铺数 ：$generalMessage.countArea
                <br>
                总仓数 ：$generalMessage.countCapsule
                <br>
                总订单数 ：$generalMessage.countBooking
                <br>

            </td>

            <td>
                <h3>各个城市的店铺数量</h3>
                #foreach($city in $generalMessage.countAreaForCity.keySet())
                $city ：$generalMessage.countAreaForCity[$city]
                <br>
                #end
            </td>


            <td>
                <h3>各个城市的仓数量</h3>
                #foreach($city in $generalMessage.countCapsuleForCity.keySet())
                $city ：$generalMessage.countCapsuleForCity[$city]
                <br>
                #end
            </td>

            <td>
                <h3>各个城市的订单数量</h3>
                #foreach($city in $generalMessage.countBookingForCity.keySet())
                $city ：$generalMessage.countBookingForCity[$city]
                <br>
                #end
            </td>

            #end


            #if($usageRateMessage)

            <td>
                <h3>使用率</h3>
                #foreach($item in $usageRateMessage.data)
                #set($usage = $item[1]*100 +"%")
                $DateUtils.format($item[0],"MM-dd HH:mm")：$usage
                <br>
                #end
            </td>


            <td>
                <h3>累计使用率</h3>
                #foreach($item in $usageRateMessage.data)
                #set($usage = $item[2]*100 +"%")
                $DateUtils.format($item[0],"MM-dd HH:mm")：$usage
                <br>
                #end
            </td>


            #end

            #if($orderCapsuleByUseTime)

            <td>
                <h3>最后订单时间</h3>
                #foreach($capsule in $orderCapsuleByUseTime)

                #if($capsule.lastBookingTime)
                <a href="/tj/capsule/$capsule.capsule_id" target="_blank">$capsule.capsule_id</a>：
                <br>
                $DateUtils.format($capsule.lastBookingTime,"yyyy-MM-dd HH:mm:ss")
                #else
                <a class="text-danger" href="/tj/capsule/$capsule.capsule_id" target="_blank">
                    $capsule.capsule_id：未使用过
                </a>
                #end
                <br>

                #end

            </td>

            <td>
                <h3>最后使用时间</h3>
                #foreach($capsule in $orderCapsuleByUseTime)

                #if($capsule.lastUseTime)
                <a href="/tj/capsule/$capsule.capsule_id" target="_blank">$capsule.capsule_id</a>：
                <br>
                $DateUtils.format($capsule.lastUseTime,"yyyy-MM-dd HH:mm:ss")

                #else
                <a class="text-danger" href="/tj/capsule/$capsule.capsule_id" target="_blank">
                    $capsule.capsule_id：未使用过
                </a>
                #end
                <br>
                #end


            </td>


            #end


        </tr>

    </table>

</div>